@import "tailwindcss"; 

    @theme {
      --color-primary: #0097B2;
      --color-secondary: #00B2A9;
      --color-teratery: #F2F2F2;
      --color-backGray: #FFFFFF;
      --color-skeleton: #D9D9D9;
      --color-primary-100: #E0F2F5; 
      --color-primary-200: #B3E0E9; 
    }

:root {
  --primary: #0097B2;
  --secondary: #00B2A9;
  --tertiary: #F2F2F2;
  --backGray: #f9f9f9;
  --skeleton: #D9D9D9;
  --primary100: #E0F2F5;
  --primary200: #B3E0E9;


  /* Recruiter Bg */
--elementBg-light: #e6f2f4;
  --elementBg-dark: #20454b;
  --elementBg-hover-light: #d4e8eb;
  --elementBg-hover-dark: #1c3d42;
  --skeleton-border: #CCCCCC;
  /*  Teacher UI */
  
}

.dark {
  --primary: #00B2A9;
  --secondary: #21464C;
  --tertiary: #1B2E31;
  --backGray: #102226;
  --skeleton: #294B4E;
  --primary100: #2D4F50;
  --primary200: #3A6467;
  --text-primary: #FFFFFF;
  --text-secondary: #B0B0B0;
}




body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

/* .dark body {
  background-color: #121212;
} */

.bg-primary { background-color: var(--primary); }
.text-primary { color: var(--primary); }
.bg-secondary { background-color: var(--secondary); }
.text-secondary { color: var(--secondary); }
.bg-tertiary { background-color: var(--tertiary); }
.text-tertiary { color: var(--tertiary); }
.bg-backGray { background-color: var(--backGray); }
.text-backGray { color: var(--backGray); }
.bg-skeleton { background-color: var(--skeleton); }
.text-skeleton { color: var(--skeleton); }
.bg-primary100 { background-color: var(--primary100); }
.text-primary100 { color: var(--primary100); }
.bg-primary200 { background-color: var(--primary200); }
.text-primary200 { color: var(--primary200); }

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.call-view {
  @apply flex sm:flex-row flex-col gap-10 items-center justify-between w-full;

  h3 {
    @apply text-center text-primary mt-5;
  }

  .card-interviewer {
    @apply flex  items-center flex-col gap-2 p-7 h-[400px] rounded-lg border-2 border-primary-200/50 flex-1 sm:basis-1/2 w-full;
    background: linear-gradient(to bottom right, 'primary-100','primary-200');
  }

  .avatar {
    @apply z-10 flex items-center justify-center rounded-full size-[120px] relative;
    background: linear-gradient(to bottom right, "primary-100", 'primary-200');

    .animate-speak {
      @apply absolute inline-flex size-5/6 animate-ping rounded-full bg-primary-200 opacity-75;
    }
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar (works on Firefox) */
.scrollbar-hidden {
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none; /* IE and old Edge */
}
::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: var(--elementBg-light);
  border-radius: 10px;
}

html.dark ::-webkit-scrollbar-track {
  background: var(--elementBg-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

/* Optional: smooth scroll behavior */
html {
  scroll-behavior: smooth;
}